/*Styles for both Annie Albers layouts*/
main {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

h1 {
    font-size: 3rem;

}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 40%
}

p.callout {
    width: 50%;
    font-size: 2.5rem;
    line-height: 3rem;
    float: right;
    font-style: italic;
    text-align: right;
    padding-left: 2em;
    margin: 1em
}

#row1 p,
#title p,
#row3 p,
#row4 p,
#row6 p,
#row8 p,
#row10 p,
#row11 p
{
    width: 100%
}
#summary p {
    width: 40%
}
#abouttext ul {
    float: right;
    width: 50%;
    text-align: left;
    padding-left: 2em;
    margin: 1em
}
#listcallout {
    float: right;
    width: 100%;
    font-size: 1rem;
    font-style: italic
    
}
h4 {
    width: 100%;
    text-align: right;
    font-size: 1.2rem
}





#secondlayout p {
    column-count: 1;
    column-gap: 2rem;
}
#secondlayout {
    h2 {
        font-size: 1.2rem;
        font-weight:normal;
        width: 36%
    }
    #row1 p,
    #title p,
    #row3 p,
    #row4 p,
    #row6 p,
    #row8 p,
    #row10 p,
    #row11 p {
    column-count: 1;
        width: 45%;
    }
    p.callout {
        width: 40%;
        float: right;
        text-align: right;
        column-count: 1;
        font-size: 2.3rem
    }
    ul {
        font-style: italic;
        column-count: 1;
        width: 40%;
        float: right;
        text-align: left;
        font-size: 1.1rem;
        font-weight: bold
    }
    #listcallout {
        font-style: italic;
        font-weight:normal;
        font-size:1rem;
        width: 100%;
    }
    h4 {
        text-align: left;
        font-size:1.3rem;
    }
    h3 {
        font-weight: bold;
        font-size: 2rem;
        padding-top: 2rem;
    }
    #summary {
        padding-top: 22px;
        font-size: 1.2rem
    }
    footer {
        margin-left:12%
    }
}